<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.133813157158-nl2r3qpqoala580nla1isssuqfdfv2im</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>133813157158-nl2r3qpqoala580nla1isssuqfdfv2im.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>133813157158-6mmjhgrbtdg0okk6dton4c6r786p51m4.apps.googleusercontent.com</string>
</dict>
</plist>
