node_modules/
**/node_modules/
.env
**/.env
*.env.local
**/.env.local
.DS_Store
portfolio-tracker.code-workspace

# Xcode
xcuserdata/
**/*.xcuserstate
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# iOS build artifacts
*.ipa
*.dSYM.zip
*.dSYM

# Web build
pf-web/client/dist/
